* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Seasons';
  src: url(fonts/The\ Seasons\ Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-image: url('images/main-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: 'Seasons', sans-serif;
}

/* Navigation Bar Style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
}

nav.scrolled {
  background: rgba(0, 0, 0, 0.137); /* blue glass effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav img {
  width: 250px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #00bd61;
  text-shadow: 0 0 30px lightgreen;
}

.nav-links a.active {
  color: #009e52;
}

/* Home Page Style */
.home {
  min-height: 100dvh;
  padding-top: 155px;
  background-image: url('images/bg-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 80px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: white;
}

.hero-section p {
  font-size: 1.6rem;
}

.home-btns {
  display: flex;
  gap: 30px;
}

.home-btns button {
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
}

.btn1 {
  background-color: #00532b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn1:hover {
  transform: scale(1.2);
  background-color: #02ad5a;
}

.btn2 {
  background-color: #b09f53;
  color: #00532b;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn2:hover {
  transform: scale(1.2);
  background-color: #b39a2f;
}

.address {
  font-size: 1.2rem;
  color: white;
}

/* About Page Style */
.about {
  min-height: 100dvh;
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 200px;
  background-image: url('images/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about h3 {
  font-size: 2.5rem;
  color: #b87818;
}

.about p {
  line-height: 1.5;
  font-size: 1.3rem;
}

/* Vision Mission Page Style */
.vision-mission {
  min-height: 100dvh;
  padding-top: 155px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-bottom: 100px;
  background-image: url('images/bg-4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vision-mission h1 {
  font-size: 5rem;
  text-align: center;
}

.vision-box,
.mission-box {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.vision-box::before,
.mission-box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 72, 0.7) 0%,
    rgba(176, 159, 83, 0.35) 35%,
    rgba(176, 159, 83, 0.12) 60%,
    transparent 80%
  );
  filter: blur(50px);
  z-index: -1;
}

.vision-box h3,
.mission-box h3 {
  font-size: 3rem;
  color: #b87818;
}

.vision-box p,
.mission-box p {
  font-size: 1.3rem;
}

/* Menu Page Style */
.menu {
  min-height: 100dvh;
  padding: 155px 8%;
  background-image: url('images/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.menu-box1,
.menu-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.carousel-section,
.text-section {
  flex: 1;
}

.text-section h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #f39200;
}

.text-section p {
  line-height: 1.4;
  font-size: 1.3rem;
  color: white;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.carousel-viewport {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: calc((220px * 4) + (15px * 3));
}

.carousel-viewport::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  gap: 15px;
}

.card {
  flex: 0 0 220px;
  height: 280px;
  background: linear-gradient(
    135deg,
    #c0c0c0 0%,
    #a5a5a5 20%,
    #616161 50%,
    #4d4d4d 75%,
    #3f3f3f 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-image {
  width: 180px;
  height: 110px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 1px 2px 5px black;
}

.menu-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #af6900;
  border-radius: 10px;
  border: 1px solid rgb(255, 166, 0);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: rgb(255, 255, 255);
}

.card-price {
  font-size: 1rem;
  margin-top: 8px;
  font-weight: bold;
  color: rgb(255, 251, 0);
}

.arrow {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(150, 80, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.164);
  flex-shrink: 0;
  color: #141414;
  transition: 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

/* Ambience & Design Page Style */
.ambience-design {
  min-height: 100dvh;
  padding-top: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url('images/bg-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ambience-box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ambience-box1 img {
  height: 400px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
}

.ambience-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: white;
  background-color: #012e17;
  width: 100%;
  height: 370px;
  box-shadow: 1px 1px 10px black;
  z-index: 1;
}

.ambience-box2 h1 {
  font-size: 4rem;
}

.ambience-box2 p {
  font-size: 1.2rem;
  text-align: left;
  max-width: 1000px;
  line-height: 1.5;
}

.packages {
  min-height: 100dvh;
  background-image: url('images/bg-6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.packages-box1 {
  display: flex;
  gap: 50px;
  color: white;
  padding-right: 170px;
}

.columns {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.columns p {
  background-color: #af6900;
  border-radius: 10px;
  border: 1px solid rgb(255, 166, 0);
  padding: 10px 20px;
}

.columns2 {
  max-width: 350px;
}

.column-packs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.column-packs p {
  background-color: #00532b;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid green;
}

.packages-box1 h2 {
  font-size: 2.5rem;
}

.packages-box1 p {
  font-size: 1.3rem;
}

.packages-box2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-right: 200px;
}

.packages-box2 h1 {
  font-size: 4rem;
}

.packages-box2 p {
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 500px;
}

/* Contact Page Style */
.contact {
  min-height: 100dvh;
  padding-top: 155px;
  padding-bottom: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('images/bg-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-box1 {
  width: 600px;
}

.contact-box1 h1 {
  font-size: 5rem;
  color: #b87818;
}

.contact-box1 p {
  line-height: 1.5;
  font-size: 1.3rem;
}

.contact-box2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-box2 h6 {
  font-size: 2.5rem;
}

.contact-box2 p {
  font-size: 1.3rem;
}

.contact-box2 a {
  text-decoration: none;
  color: #00bd61;
  font-size: 1.3rem;
}

/* Location Page Style */
.location {
  min-height: 100dvh;
  padding-top: 155px;
  padding-bottom: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('images/bg-5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.location-box1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.employee-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  gap: 80px;
}

.employee-details p {
  color: #b87818;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.employee-details p:hover {
  background: linear-gradient(120deg, #888, #fff, #c0c0c0, #fff, #888);
  background-size: 300% 100%;
  animation: silverShine 1.5s linear infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.employee-details p:hover::before {
  content: '✦';
  position: absolute;
  top: -12px;
  left: -10px;
  color: #fff;
  font-size: 14px;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d9d9d9;
  animation: sparkle1 0.8s infinite alternate;
}

.employee-details p:hover::after {
  content: '✧';
  position: absolute;
  bottom: -10px;
  right: -12px;
  color: #fff;
  font-size: 12px;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d9d9d9;
  animation: sparkle2 1s infinite alternate;
}

@keyframes silverShine {
  from {
    background-position: 300% 0;
  }
  to {
    background-position: -300% 0;
  }
}

@keyframes sparkle1 {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1.4) translateY(-5px);
  }
}

@keyframes sparkle2 {
  0% {
    opacity: 1;
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(1.8) rotate(90deg);
  }
}

.location-box1 img {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
}

.location-box2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-box2 h1 {
  font-size: 4rem;
  color: #b87818;
}
.location-box2 h3 {
  font-size: 2rem;
}

.location-details {
  line-height: 1.5;
}

.location-box2 p {
  font-size: 1.5rem;
}

.loc-title {
  color: #00bd61;
}

/* Footer Style */
footer {
  background-color: #002411;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 30px;
  gap: 50px;
}

.footer-title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media img {
  width: 20px;
}

.common-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.common-links a {
  color: white;
  text-decoration: none;
}
.common-links a:hover {
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.devs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.devs a {
  color: white;
  text-decoration: none;
}

.devs a:hover {
  text-decoration: underline;
}

.footer-title {
  color: rgb(163, 163, 163);
}

/* Between Sections Nlack Gradient Fades */
section {
  position: relative;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, transparent, #000);
  pointer-events: none;
}

section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, transparent, #000);
  pointer-events: none;
}
